.avatar {
  transform: translateY(7.5rem);
  margin-top: -7.5rem;
}

.avatar img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.subheader {
  margin-top: .5rem !important;
  margin-bottom: 0 !important;
  padding-left: 13rem;
}