.avatar {
    transform: translateY(7.5rem);
    margin-top: -7.5rem;
}

.avatar img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.subheader {
    margin-top: .5rem !important;
    margin-bottom: 0 !important;
}

@media (min-width: 992px) {
    .subheader {
        padding-left: 13rem;
    }
}