$body-bg: #f2f3f4;
$light: #ffffff;
$primary: hotpink;

#root {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  min-height: 100vh;
}

.card-img-top {
  height: auto;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  filter: grayscale(0);
  transition: filter .3s ease-in-out;
}

.card-img-top:hover { filter: grayscale(.7) }

@import '~bootstrap/scss/bootstrap.scss';